@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.body{
    font-family: 'Roboto', sans-serif;
}

.bg-navbar{
    background-color: #001A33;
}

.modalStyle{
    font-family: 'Roboto', sans-serif;
    background-color: #001A33;
    color:white;
}

.btn-style{
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin: 5px;
    border-radius: 10pt;
    width: 130px;
    height: 40px;
}

.btn-style:hover{
    color: #FFA901;
    border-color: #FFA901;
}

.btn-style2{
    background-color: #FFA901;
    border-color: #FFA901;
    color: #FFFFFF;
    margin: 5px;
    border-radius: 10pt;
    width: 130px;
    height: 40px;
}

.btn-style2:hover{
    box-shadow: 2px 2px 2px 1px rgba(71, 71, 71, 0.2);
    background-color: #FFA901;
}

.btn-style3{
    background-color: #8B8B8B;
    border-color: #8B8B8B;
    color: #FFFFFF;
    margin: 5px;
    border-radius: 10pt;
    width: 130px;
    height: 40px;
}
.btn-style3:hover{
    box-shadow: 2px 2px 2px 1px rgba(71, 71, 71, 0.2);
    background-color: #8B8B8B;
}
#loginBtn{
    width: 250px;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        
                .body{
                    font-family: 'Roboto', sans-serif;
                }
                
                .bg-navbar{
                    background-color: #001A33;
                }
                
                .modalStyle{
                    font-family: 'Roboto', sans-serif;
                    background-color: #001A33;
                    color:white;
                }
                
                .btn-style{
                    border-color: #FFFFFF;
                    color: #FFFFFF;
                    margin: 5px;
                    border-radius: 10pt;
                    width: 130px;
                    height: 40px;
                }
                
                .btn-style:hover{
                    color: #FFA901;
                    border-color: #FFA901;
                }
                
                .btn-style2{
                    background-color: #FFA901;
                    border-color: #FFA901;
                    color: #FFFFFF;
                    margin: 5px;
                    border-radius: 10pt;
                    width: 130px;
                    height: 40px;
                }
                
                .btn-style2:hover{
                    box-shadow: 2px 2px 2px 1px rgba(71, 71, 71, 0.2);
                }
                
                .btn-style3{
                    background-color: #8B8B8B;
                    border-color: #8B8B8B;
                    color: #FFFFFF;
                    border-radius: 10pt;
                }
                
                #loginBtn{
                    width: 250px;
                }
                
.btn-style:hover {
    color: #FFA901;
    border-color: #FFA901;
}

.register-body{
    background-image: url("../public/img/imgRegisterC.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 21px;
}

.container-form{
    height: 450px;
    border-radius: 40px;
    padding: 50px;
    background-color: rgba(242,242,242,.8);
}
img {
    max-width: 100%;
    display: block;
}

.h2-tittle-register{
    color: #003274;
    font-weight: bolder;
}

.p-text-welcome{
    color: #001A33;
}

.label-team-name{
    font-size: 16px;
    margin-bottom: 0;
}

.text-input{
    padding: 5px;
    font-size: 13px;
    border: none;
    border-radius: 7px;
    
}

.a-text-register{
    color: white;
}
